header, .navbar {
    background-color: black;
    color: white;
    z-index: 1000;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #ddd;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: #cccccc;
}

.custom-footer {
    color: white;
    background-color: black;
    z-index: 500;
}

.custom-footer a {
    color: #cccccc;
    text-decoration: underline;
}

.custom-footer a:hover {
    color: white;
}
